@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@media (hover: hover) {
  .image-reel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .image-reel__slide:last-child .image-reel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .image-reel__snapper {
    animation-name: none;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

.image-reel:hover .image-reel__snapper,
.image-reel:focus-within .image-reel__snapper {
  animation-name: none;
}

.image-reel::before,
.image-reel__prev {
    left: -1rem;
    display: none;
}

.image-reel::after,
.image-reel__next {
    right: -1rem;
    display: none;
}

.image-reel {
  height: 50vh;
}
@media screen and (max-width: 450px) {
  .image-reel {
    height: 30vh;
  }
 }