.log-in {
color: rgba(255, 253, 253, 0.87);
font-size: 1rem;
font-weight: 400;
width: 50%;
height: 35px;
padding-top: 10px;
margin-bottom: 20px;
background-color: transparent;
border-bottom: white 1px solid;
border-top: none;
border-left: none;
border-right: none;
}

.log-in::placeholder {
  color: black; /* Change 'red' to any color you prefer */
  opacity: 0.5; /* Optional: Adjusts the opacity of the placeholder */
}
.login-gif {
  width: 100%;
  max-width: 350px; /* Adjust the max-width to make the GIF smaller */
  margin-bottom: 20px;
  border-radius: 10%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

button {
  font-size: 1rem;
  font-weight: 500;
  width: 15%;
  padding: 20px 16px 6px;
  height: 56px;
  margin-top: 20px;
  background-color: transparent;
  
  
}
button:hover {
  background-color: #096e66;
  transform: scale(1.05);
}

.submit-button {
  background-color: #df9526;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #adc526;
}

.navigate-to-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

.navigate-to-signup span:hover {
  color: blue;
  cursor: pointer;
}

h2 {
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 50px;
  font-family: cursive, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: transparent; /* Make the text color transparent */
  background: url('../assets/travelsky.jpg') no-repeat center center; /* Use your background image */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
}
.welcome-message {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #98bdce;
  animation: bounce 2s infinite; /* Add bounce animation */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Change the font style */
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-image {
  width: 150px; /* Adjust as needed */
  height: auto;
  flex: 0 0 50%; /* Adjust as needed */
  border-radius: 50%;
}

.signup-form {
  margin: 0 20px; /* Adjust spacing as needed */
  flex: 0 0 50%; /* Adjust as needed */
}

/* Media queries */

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 3rem;
    margin-bottom: 40px;
  }

  .form {
    padding: 10px; 
  }

  .signup-container {
    flex-direction: column; 
    align-items: center;
  }

  .signup-image {
    width: 120px; 
  }

  .signup-form {
    width: 80%; 
    margin: 0 auto; 
  }
}

.nav-logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-logo {
  height: 85px; /* Adjust size as needed */
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.5rem; 
    margin-bottom: 30px;
  }

  .log-in {
    width: 75%; 
  }

  button {
    width: 50%; 
    font-size: 0.9rem; 
  }

  .login-gif {
    max-width: 250px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 2rem; 
    margin-bottom: 20px;
  }

  .log-in {
    width: 90%; 
    height: 30px;
  }

  button {
    width: 75%; 
    height: 50px; 
  }

  .signup-container {
    flex-direction: column;
  }

  .signup-image {
    width: 100px; 
    margin-bottom: 20px; 
  }

  .signup-form {
    width: 90%;
  }

  .welcome-message {
    font-size: 1.2rem;
  }
}